
<div id="well-tree">
	<p id="_generate_tree">Click below to place your sequence in a Phylogenetic Tree using <a href="http://www.drive5.com/muscle/"> MUSCLE </a> and <a href="http://phylocanvas.org/">Phylocanvas</a></p>

	<%= form_with url:'/phylogenetic_tree', remote: true,  :html => {:id => "do-tree"} do |f| %>
	
		<div class="container">
		  <div class="row">

		    <div class="col-4">Select OG group(s)</div>
		    <div class="col-8">Select Organism(s)</div>

		    <div class="w-100"></div>
		    <!-- increment stack here -->
		    <div class="col-4 stack-group"><%= f.select :group, options_for_select(@group_number_list.sort { |a,b| a && b ? a <=> b : a ? -1 : 1 }.map { |x| x == nil ? 'No Group' : x }), {:prompt => 'All OGs'}, :id => "orig-group" %></div>
		    <div class="col-8 stack-organism"><%= f.select :organism, options_for_select(@organism_list.sort { |a,b| a && b ? a <=> b : a ? -1 : 1 }.map { |x| x == nil ? 'No Organism' : x }), {:prompt => 'All Organism'}, :id => "orig-organism" %></div>

		    <div class="w-100"><hr></div>

		    <div class="col-4"><button id='add-group' type="button" >Add Group</button></div>
		    <div class="col-8"><button id='add-organism' type="button" >Add Organism</button></div>

		  </div>
		</div>

		<br>
		<%= f.text_area :form_sequence, :value => "#{@fasta_seq}", :style => "display:none;" %>
		<%= f.button 'Generate Phylogenetic Tree'.html_safe, :type => :submit, id: "generate-phylogenetic-tree", :class => "btn btn-primary" %>


	<% end %>


	<%# image_tag 'loading.gif', :id=> "waiting-gif", :style => "visibility:hidden;" %>
	
	<p id="phylocanvas-page-warning"></p>
	<div id="tree-group">
		<!-- phylocanvas tree will be rendered here -->
	</div>
	
	
	<p id="graph-note" style="visibility: hidden;">
		<hr>
		For more advanced graph viewer, plesase see <a href='https://en.wikipedia.org/wiki/List_of_phylogenetic_tree_visualization_software' target='_blank'> Wiki </a>
	</p>

</div>
