<div>
<h3 id="seqresulttag"> Similiarity to Reductive Dehalogenases Blast Database </h3>
<table class="each-result">
  <tr id="aasim">
    <th id="simthtag">AA Similarity</th>
    <td id="simtext"><%= @aa_similarity %></td>
  </tr>
  <tr id = "aasim">
    <th id="simthtag">Matching Group</th>
    <td id="simtext">
    	<% if @final_identity_groups.nil?  %>
    		<%= "No Matching OD Group" %>
    	<% else %>
        <% if @final_identity_groups.length == 0 %>
          <% if !@existing_matched_group.nil? %>
            <%= @existing_matched_group %>
          <% else %>
            <%= "No Matching OD Group" %>
          <% end %>
        <% else %>

    		  <% @final_identity_groups.each do |group_number| %>
            <%= "#{group_number}\t" %>
    		  <% end %>
        <% end %>
    	<% end %>
    </td>
  </tr>
</table>
</div>
<hr id="hrtg">
