<div>
<h3 id="seqresulttag"> Blasting Result for <%= @query.definition %></h3>
<table class="each-result">
  <tr id="aasim">
    <th id="simthtag">Number of Returning Sequence</th>
    <td id="simtext">
      <%= @aa_sequence_result.length %>
    </td>
  </tr>
  
  <tr id = "aasim">
    <th id="simthtag">Matching Group</th>
    <td id="simtext-group">
    	<% if @final_identity_groups.nil?  %>
    		<%= "No Matching OD Group" %>
    	<% else %>
        <% if @final_identity_groups.length == 0 %>
          <% if !@existing_matched_group.nil? %>
            <%= @existing_matched_group %>
          <% else %>
            <%= "No Matching OD Group" %>
          <% end %>
        <% else %>

    		  <% @final_identity_groups.each do |group_number| %>
            <%= "#{group_number}\t" %>
    		  <% end %>
        <% end %>
    	<% end %>
    </td>
  </tr>
  <tr id="aasim">
    <th id="simthtag">Exist In Database</th>
    <td id="simtext">
      <% if @is_exist_chain == false %>
        No
      <% else %>
        Yes
      <% end %>
    </td>
  </tr>
</table>
</div>
<hr id="hrtg">
