<div>
<h3 id="seqresulttag"> Blasting Result for <%= @query.definition %></h3>
<table class="each-result">

  <tr>
    <th>Number of Returning Sequence</th>
    <td>
      <%= @aa_sequence_result.length %>
    </td>
  </tr>
  
  <tr>
    <th>Matching Group</th>
    <td>
    	<% if @identity_groups.nil?  %>
    		<%= "No Matching OD Group" %>
    	<% else %>
        <% if @identity_groups.length == 0 %>
          <% if !@existing_matched_group.nil? %>
            <%= @existing_matched_group %>
          <% else %>
            <%= "No Matching OD Group" %>
          <% end %>
        <% else %>

    		  <% @identity_groups.each do |group_number| %>
            <%= "#{group_number}\t" %>
    		  <% end %>
        <% end %>
    	<% end %>
    </td>
  </tr>

  <tr>
    <th>Exist In Database</th>
    <td>
      <% if @is_exist_chain == false %>
        No
      <% else %>
        Yes
      <% end %>
    </td>
  </tr>

</table>
</div>
<hr id="hrtg">
