<div>
<h3 id="seqresulttag"> BLASTP Results for <%= @query.definition %></h3>
<table class="each-result">

  <tr>
    <th>Number of aligned sequences</th>
    <td>
      <%= @aa_sequence_result.length %>
    </td>
  </tr>
  

  <% if @identity_groups.length == 0 %>
    
    <tr>
      <th>Orthologous Group</th>
      <td>No matching orthologous group</td>
    </tr>
    <tr>
      <th>Characterized Members</th>
      <td>No matching characterized members</td>
    </tr>

  <% else %>

    <tr>
      <th>Orthologous Groups</th>
      <td>
        
        <% @identity_groups.each do |group_number| %>
          <%= form_with url:'protein',:class => "group-number-form", method: :get do |f| %>
            <%= hidden_field_tag(:group, group_number) %>
            <%= f.submit "#{group_number}", disabled: false, :id => 'group-click-button', formtarget: "_blank" %>
          <% end %>
          &nbsp;
        <% end %>
      </td>
    </tr>

    <tr>
      <th>Characterized Members</th>
      <td>
        <!-- find the characterized member -->
        <% if @possible_group_number.length == 0 %>
          No matching characterized members
        <% else %>  
          <% @possible_group_number.each do |member| %>
            <%= link_to "#{member[1]}", protein_path(member[0]), target: "_blank" %> &nbsp;
          <% end %>
        <% end %>
      </td>
    </tr>

  <% end %>

  <tr>
    <th>Exist In Database</th>
    <td>
      <% if @is_exist_chain == false %>
        No
      <% else %>
        Yes
      <% end %>
    </td>
  </tr>

</table>
</div>
<hr id="hrtg">
