<div class="sequence-index compound-index">
	<h2>Compound Database</h2>
	<hr>
	<table class="table table-responsive-md">
	  <thead>
	    <tr>
	      <th>RDaseDB Identifier</th>
	      <th>Name</th>
	      <th>Structure</th>
	      <!-- <th>Formula</th> -->
	      
	    </tr>

	    <tr>
	    <%= form_with url:'compound', method: :get do |f| %>
	      <th><%= f.text_field 	:public_id %></th>
		  <th><%= f.text_field 	:name %></th>
		  <th><%= f.submit "Filter", disabled: false, hidden: true, :id => 'filter-button' %></th>
	    <% end %>
	      
	    </tr>
	  </thead>
	 	
	  <tbody>
	    <% @compound.each do |cp| %>
	      <tr>
	      	<!-- <%= cp.public_id %> -->
	        <td class="align-middle"><%= link_to "#{cp.public_id}", compound_path(cp.id) %></td>
	        <td class="align-middle"><%= cp.name %></td>
	        <% if cp.image.attached? %>
	        	<td class="align-middle"><%= image_tag(cp.image, :class => 'compound-image', :alt => cp.name + ' structural diagram') %></td>
	        <% else %>
	        	<td class="align-middle"><%= image_tag("Photo-Not-Available-Image.jpg", :class => 'compound-image') %></td>
	        <% end %>
	      </tr>
	    <% end %>
	    
	  </tbody>
	</table>
	<div class="row mt-sm-3">
		<div class="col">
			<%= paginate @compound %>
		</div>
	</div>
</div>