<div class="container sequence-index">
	<h1>Compound Database</h1>
	<hr>
	<table>
	  <thead>
	    <tr>
	      <th>RDDB ID</th>
	      <th>Name</th>
	      <th>Structure</th>
	      <!-- <th>Formula</th> -->
	      
	    </tr>

	    <tr>
	    <%= form_with url:'compound', method: :get do |f| %>
	      <th><%= f.submit "Filter", disabled: false, :id => 'filter-button' %></th>
	      <th><%= f.text_field 	:name %></th>
	      <th></th>
	      <th></th>
	    <% end %>
	      
	    </tr>
	  </thead>
	 	
	  <tbody>
	    <% @compound.each do |cp| %>
	      <tr>
	      	<!-- <%= cp.public_id %> -->
	        <td><%= link_to "#{cp.public_id}", compound_path(cp.id), :id => 'button-ish' %></td>
	        <td><%= cp.name %></td>
	        <td><%= image_tag(cp.image) if cp.image.attached? %> </td>
	        
	      </tr>
	    <% end %>
	    
	  </tbody>
	</table>
	<hr>
	<%= paginate @compound %>
	<br>
</div>