<div class="container">
  <div class="row">


  	<div class="container decision-tree">
      <h4>Submission</h4>
      <hr>
      <div id="public-id-info-div">
    		<p><strong>Does your sequence(s) have public domain number (e.g. NCBI Accession No.)?</strong></p>
        <button id="public-id-yes">Yes</button> &nbsp;&nbsp; <button id="public-id-no">No</button>
      </div>

      <div id="binding-domain-info-div" style="display: none;">
        <p><strong>Does your sequence(s) contain FeS binding domains and TAT signal peptide?</strong></p>
        <button id="binding-domain-yes">Yes</button> &nbsp;&nbsp; <button id="binding-domain-no">No</button>
      </div>

  	</div>

  	<!-- div for enter sequence -->
    <div id="submit-interface" style="display: none;">
    	<h3>Submission</h3>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col">
            <%= form_with url:'/submit_sequence', remote: true, :html => {:id => "upload-seq"} do |f| %>
              <%= f.text_area :sequence, :rows => 30, :cols => 80, class: 'upload-div' %>
              <br>
              <!-- it searches for the first available upload-file-btn; that's why submit-to-lab is not working -->
              <%= f.button 'Upload'.html_safe, :type => :submit, :class => "btn btn-primary upload-btn" %>
              <%= f.file_field :fasta, class: 'upload-file-btn', disabled: false %>          
            <% end %>
            
          </div>

          <!-- this should present after use submit the sequence -->
          <div class="col">

            <div id="selection-info" style="display: none;">
              <h4>Fasta format</h4>
              <div class="fasta-box">
                <p>>[NCBI, RAST or JGI number] <br>[Your Amino Acid Sequence]</p>
                <p>>WP_012881438 <br>MEMNIYHSTISRRNFMKGLGLSGAALGAATASA<br>PVFHDLDEMITSVPKSTTQHAWWVKERDYEDIT<br>
                TPVDWTVWSRREALKNPMPPGFAG...</p>
              </div>


              <h4>Default Blast Parameters</h4>
              <div class="fasta-box">
                <table id="default-parameter-table">
                  <tbody>
                    <tr>
                      <td>Cost to open a gap: </td>
                      <td><strong>11</strong></td>
                    </tr>
                    <tr>
                      <td>Cost to extend a gap: </td>
                      <td><strong>1</strong></td>
                    </tr>
                    <tr>
                      <td>Penalty for mismatch: </td>
                      <td><strong>-3</strong></td>
                    </tr>
                    <tr>
                      <td>Reward for match: </td>
                      <td><strong>2</strong></td>
                    </tr>
                    <tr>
                      <td>Expected Value (E-Value): &nbsp;&nbsp; </td>
                      <td><strong>0.000001 &nbsp;</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>

            <div id='submit-seq-result-div'>                         
            </div>

            <div id='save-sequence-form-div' style="display: none;">
              <!-- OMG, I didn't use Rails format convention in erb... -->
              <form method="post" action="/save_sequence" id="save-seqeunce">
                <table id="save-seqeunce-submit-table">
                  <tbody>
                    <tr>
                      <td>Name: </td>
                      <td><input type="text" name="name" maxlength="30" size="30" required><br></td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td><input type="email" name="email"  size="30" required><br></td>
                    </tr>

                    <tr>
                      <td></td>
                      <td style="float: right;"><input value="Save To Database" type="submit" class="btn btn-primary" /><br></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/><br></td>
                    </tr>
                  </tbody>
                </table>
              </form> 
            </div>
          </div>

        </div>
      </div>
    </div>


    <div id="submit-to-lab-interface" style="display: none;">
      <h3>Submit Amino Acid Sequence to Our Lab</h3>
      <hr>
      <%= form_with url:'/submit_sequence_lab', remote: true, :html => {:id => "upload-seq-to-lab"} do |f| %>
        
        <div class="container">
          <div class="row">
            <div class="col">
              <div>
                <%= f.text_area :sequence, :rows => 30, :cols => 80, class: 'upload-div' %>
                <br>
                <%= f.file_field :fasta, class: 'upload-file-btn-direct-lab', disabled: false %>
              </div>

            </div>

            <div class="col">
              <h4>Fasta format</h4>
              <div class="fasta-box">
                <p>>[NCBI, RAST or JGI number] <br>[Your Amino Acid Sequence]</p>
                <p>>WP_012881438 <br>MEMNIYHSTISRRNFMKGLGLSGAALGAATASA<br>PVFHDLDEMITSVPKSTTQHAWWVKERDYEDIT<br>
                TPVDWTVWSRREALKNPMPPGFAG...</p>
              </div>
              
              <hr>
              <table>
                <tr>
                  <td>Name</th>
                  <td><%= f.text_field :name, :size => "40", placeholder: "Your Name (Required) " %></td>
                </tr>
                <tr>
                  <td>Email</th>
                    <!-- ,:required=>true -->
                  <td><%= f.text_field :email, :size => "40", placeholder: "example@abc.com (Required) ", :type=>"email" %></td>
                </tr>
                <tr>
                  <td>Institution</th>
                  <td><%= f.text_field :institution, :size => "40", placeholder: "Your Institution (Optional)" %></td>
                </tr>
                <tr>
                  <td>Publications</th>
                  <td><%= f.text_field :publications, :size => "40", placeholder: "Citation (Optional)" %></td>
                </tr>
                <tr>
                  <td>Organism</th>
                  <td><%= f.text_field :organism, :size => "40", placeholder: "Organism (Optional)" %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <hr>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
        <%= f.submit "Send", :class => "btn btn-primary", id: "submit-seq", :style => "position:relative; top:50%; left:50%;" %>
                  
      <% end %>

    </div>
    



    


  </div>
</div>

<div class="modal"><!-- Place at bottom of page --></div>

















