<div class="container">
  <div class="row">


  	<div class="container decision-tree">
  		<h3>Submission Rules</h3>
  		<p>
  			In order to add your amino acid sequence to our database, you have to make sure your sequence(s) is annotated by NCBI, RAST or JGI as a putative reductive dehalogenase and with accession no.<br>
  			Also, check if your sequence contain FeS binding domains and TAT signal peptide.<br>
  			We appreciated all the submissions.
  		</p>
  		<button id="public-id"> I have public domain No. (e.g. NCBI Accession No.)</button>
  		<button id="binding-domain" style="display: none;"> My sequence(s) contain FeS binding domains and TAT signal peptide</button>
      <br>OR<br>
      <button id="send-to-lab">Send Email to Elizabeth Edwards Lab</button>

  	</div>

  	<!-- div for enter sequence -->
    <div class="col" id="submit-interface" style="display: none;">
    	<h3>Upload Your Amino Acid Sequence Here</h3>
    	<div>
    		<%= form_with url:'/submit_sequence', remote: true, :html => {:id => "upload-seq"} do |f| %>
    			<%= f.text_area :sequence, :rows => 30, :cols => 80, class: 'upload-div', :id => 'upload-text' %>
    			<br>
    			<%# f.submit 'Upload', class: 'btn btn-primary upload-btn', disabled: false %>
    			<%= f.button 'Upload'.html_safe, :type => :submit, :class => "btn btn-primary upload-btn" %>
    			<!-- OR -->
 					<!-- This works only if send data through rails; not ajax -->
    			<%# f.file_field :fasta, :id => 'upload-file-btn',disabled: false %>    			
    		<% end %>
    		
    	</div>
    </div>


    <div id="submit-to-lab-interface" style="display: none;">
      
      <%= form_with url:'/submit_sequence_lab', remote: true, :html => {:id => "upload-seq-to-lab"} do |f| %>
        
        <div class="container">
          <div class="row">
            <div class="col">
              
              <h3>Upload Your Amino Acid Sequence Here</h3>
              <div>
                <%= f.text_area :sequence, :rows => 30, :cols => 80, class: 'upload-div', :id => 'upload-text' %>
                <br>
                <%# f.submit 'Upload', class: 'btn btn-primary upload-btn', disabled: false %>
                <%= f.button 'Upload'.html_safe, :type => :submit, :class => "btn btn-primary upload-btn" %>
                <!-- OR -->
                <!-- This works only if send data through rails; not ajax -->
                <!-- send data through ajax -->
                <%= f.file_field :fasta, :id => 'upload-file-btn', disabled: false %>
              </div>

            </div>

            <div class="col">
              <hr>
              <table>
                <tr>
                  <td>Name</th>
                  <td><%= f.text_field :name, :size => "40", placeholder: "Your Name (Required) ",  :required=>true %></td>
                </tr>
                <tr>
                  <td>Email</th>
                  <td><%= f.text_field :email, :size => "40", placeholder: "example@abc.com (Required) ", :type=>"email",:required=>true %></td>
                </tr>
                <tr>
                  <td>Institution</th>
                  <td><%= f.text_field :institution, :size => "40", placeholder: "Your Institution (Optional)" %></td>
                </tr>
                <tr>
                  <td>Publications</th>
                  <td><%= f.text_field :publications, :size => "40", placeholder: "Citation (Optional)" %></td>
                </tr>
                <tr>
                  <td>Organism</th>
                  <td><%= f.text_field :organism, :size => "40", placeholder: "Organism (Optional)" %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <hr>

        <%= f.submit "Send", :class => "btn btn-primary", id: "submit-seq", :style => "
    position:relative;
    top:50%; 
    left:50%;" %>
                  
      <% end %>

    </div>
    


    <!-- this should present after use submit the sequence -->
    <div class="col" id='submit-seq-result-div'>
    	
    </div>
  </div>
</div>
















