<div class="container">
  <div class="row">

  	<div class="container decision-tree">
      <h2>Submission</h2>
      <hr>
      <p><a href="/help">How does RDaseDB assign sequences to groups?</a></p>
      <div id="public-id-info-div">
    		<p><strong>Does your sequence(s) have public domain number (e.g. NCBI Accession No.)?</strong></p>
        <button id="public-id-yes">Yes</button> &nbsp;&nbsp; <button id="public-id-no">No</button>
      </div>

      <div id="binding-domain-info-div" style="display: none;">
        <p><strong>Has the sequence been annotated as a reductive dehalogenase by Genbank, IMG, RAST or another annotation pipeline?</strong></p>
        <button id="binding-domain-yes">Yes</button> &nbsp;&nbsp; <button id="binding-domain-no">No</button>
      </div>

  	</div>

    <div id="submit-interface" style="display: none;" >
      <!-- if user successfully submit standard fasta format, redirect to a new page for displaying the result  -->
      <!-- else, present the possible errors for user to update -->
    	<h3>Submission</h3>
      <hr>
      <div class="alert alert-warning" role="alert" id="possible_errors" style="display: none;">

      </div>

      <%= form_with url:'/submit_sequence', remote: true, :html => {:id => "upload-seq"} do |f| %>
        <div class="container">
          <div class="row">
            
            <div class="col">
              <div>
                <h5>Animo Acid Sequence(s) in <a href="/help#assign-rules" target="_blank">our fasta format</a></h5>
                <%= f.text_area :aa_sequence, class: 'upload-div', :id => "upload-div-aa", :placeholder => "> Self-assigned ID or Name | Accession No. | Organism | Citation (optional) | \nYour Amino Acid Sequence ...".html_safe %>
                <br>
                <!-- it searches for the first available upload-file-btn; that's why submit-to-lab is not working -->
                <%= f.file_field :aa_fasta, class: 'upload-file-btn', :id => "upload-file-btn-aa", disabled: false %>
              </div>
            </div>

            <div class="col">
              <div>
                <h5>Nucleotide Sequence(s)</h5>
                <%= f.text_area :nt_sequence, class: 'upload-div',:id => "upload-div-nt", :placeholder => "> Self-assigned ID or Name | Genbank ID | Organism | Citation (optional) | \nYour Nucleotide Sequence ...".html_safe %>
                <br>
                <%= f.file_field :nt_fasta, class: 'upload-file-btn', :id => "upload-file-btn-nt", disabled: false %>
              </div>
            </div>
          </div>
        </div>
        
        <hr>
        Name: <%= f.text_field :uploader_name, required: true %>
        Email: <%= f.email_field :uploader_email, required: true %>
        <%= f.button 'Upload'.html_safe, :type => :submit, :class => "btn btn-primary upload-btn" %>
      <% end %>
    </div>

    <div id="submit-interface-result" style="display: none;">




    </div>

    <div id="submit-to-lab-interface" style="display: none;">
      <h4>We only accept publicly available sequences. Please review our submission rules <a href="/help#assign-rules">here</a>.</h4>
      <h4>
        If your sequences contain FeS binding domains and TAT signal peptide. Please <a href="/contact">contact us</a>.
      </h4>
    </div>

  </div>
</div>

<div class="modal"><!-- Place at bottom of page --></div>

















