<br>
<div class="container">
<h3>Statistics</h3>
<hr>


	<table class="statistics-table">
		<tr>
			<th>Statistics Type</th>
			<th>Count</th>
		</tr>

		<tr>
			<td>Last updated amino acid sequences</td>
			<td class="stats-num"><%= @number_of_original_aa_sequence %></td>
		</tr>

		<tr>
			<td>Last updated nucleotide sequences</td>
			<td class="stats-num"><%= @number_of_original_nt_sequence %></td>
		</tr>

		<tr>
			<td>Current number of amino acid sequences in database</td>
			<td class="stats-num"><%= @number_of_cus_aa_sequence %></td>
		</tr>

		<tr>
			<td>Current number of nucleotide sequences in database</td>
			<td class="stats-num"><%= @number_of_cus_nt_sequence %></td>
		</tr>

		<tr>
			<td>Total Number Of RD Groups</td>
			<td class="stats-num"><%= @number_of_group %></td>
		</tr>

		<tr>
			<td>Total Number Of RD Organisms</td>
			<td class="stats-num"><%= @number_of_organism %></td>
		</tr>

		<tr>
			<td> Total Number of Compounds</td>
			<td class="stats-num"> <%= @number_of_compound %> </td>
		</tr>

	</table>

</div>
