<br>
<div class="container">
<h3>Statistics</h3>
<hr>


	<table class="statistics-table">
		<tr>
			<th>Sequence Type</th>
			<th>Number of Sequences</th>
		</tr>

		<tr>
			<td>Original amino acid sequence</td>
			<td><%= @number_of_original_aa_sequence %></td>
		</tr>

		<tr>
			<td>Original nucleotide sequence</td>
			<td><%= @number_of_original_nt_sequence %></td>
		</tr>

		<tr>
			<td>Customized amino acid sequence</td>
			<td><%= @number_of_cus_aa_sequence %></td>
		</tr>

		<tr>
			<td>Customized nucleotide sequence</td>
			<td><%= @number_of_cus_nt_sequence %></td>
		</tr>

		<tr>
			<td>Total Number Of RD Group</td>
			<td><%= @number_of_group %></td>
		</tr>

		<tr>
			<td>Total Number Of RD Organism</td>
			<td><%= @number_of_organism %></td>
		</tr>

		<tr>
			<td> Total Number of Compounds</td>
			<td> <%= @number_of_compound %> </td>
		</tr>

	</table>

</div>
