


<div class="container sequence-index">
	<h1>Sequence Database</h1>
	<hr>
	<table id='strain-table'>

	  <thead>
	    <tr>
	      <th colspan="1"></th>
	      <!-- this is how btdb sort protein by BTDBP ID -->
	      <!-- <a rel="nofollow" class="sort-link" href="/proteins?c=btdbp_id&amp;d=down">BTDBP ID</a> -->
	      <%# table_sort_link 'Locus Tag', :header %>
	      <th><%= table_sort_link "AccessionID", :accession_no %></th>
	      <th><%= table_sort_link "Name", :header %></th>
	      <th><%= table_sort_link "GeneBankID", :genbank_id %></th>
	      <th><%= table_sort_link "Group", :group %></th>
	      <th><%= table_sort_link "Organism", :organism %></th>
	      <th><%= table_sort_link "Protein", :protein_name %></th>
	      <th>Reference</th>
	      
	    </tr>

	    <tr>
	    <%= form_with url:'protein', method: :get do |f| %>
	      <th><%= f.submit "Filter", disabled: false, :id => 'filter-button' %></th>
	      <th><%= f.text_field 	:accession_no, :style => "width:140px"%></th>
	      <th><%= f.text_field 	:header %></th>
	      <th><%= f.text_field  :genbank_id %></th>
	      <th><%= f.text_field  :group, :style => "width:60px"%></th>
	      <th><%= f.text_field  :organism %></th>
	      <th><%= f.text_field  :protein_name, :style => "width:70px" %></th>
	      <th><%= f.text_field  :fake, :disabled => true, :placeholder => "N/A", :style => "width:100px" %></th> 
	      <!-- :fake means nothing, just for styling -->
	    <% end %>
	      
	    </tr>
	  </thead>
	 	
	  <tbody>
	    <% @protein.each do |pt| %>
	      <tr>
	      	<td><%= link_to "show", protein_path(pt.id), :id => 'show-button' %></td>

	      	<% if pt.accession_no.nil? %>
	      		<td>Not Available</td>
	      	<% else %>
	      		<td><a href="https://www.ncbi.nlm.nih.gov/protein/<%= pt.accession_no %>" target="_blank">
	      			<%= pt.accession_no %>
	      		</td>
	      	<% end %>
	        


	        <td><%= pt.header %></td>


	        <td>

	        	<% if get_genbank_id(pt.id).nil? %>
	        		None
	        	<% else %>
	        		<%= link_to get_genbank_id(pt.id), "https://www.ncbi.nlm.nih.gov/nuccore/#{get_genbank_id(pt.id)}" %>
	        	<% end %>


	        </td>

	        <!-- display group -->
	        <% if pt.group.nil? %>
	        	<td>No Group</td>
	        <% else %>
	        	<%= form_with url:'protein', method: :get do |f| %>
	        		<%= hidden_field_tag(:group, pt.group) %>
	        		<td><%= f.submit "#{pt.group}", disabled: false, :id => 'group-click-button' %></td>
	        	<% end %>
	        <% end %>

	        <!-- display organism -->
	        <% if pt.organism.nil? %>
	        	<td>No Organism</td>
	        <% else %>
	        	<td><%= itatic_species_genus(pt.organism) %></td>
	        <% end %>
	        

	        <% if pt.protein_name.nil? %>
	        	<td style="text-align: center;">None</td>
	        <% else %>
	        	<td style="color:red; text-align: center;"><strong><%=  pt.protein_name %></strong></td>
	        <% end %>
	        	
	        	
	        <!-- display characteristics -->
	        <td style="text-align: right;">
	        	<% if get_reference(pt.id).nil? %>
		        	Unpublished
		        <% else %>
		        	
		        	<%= link_to get_reference(pt.id), "https://www.ncbi.nlm.nih.gov/pubmed/#{get_reference(pt.id)}" %>
		        <% end %>

		        <%# link_to get_reference(pt.id), "https://www.ncbi.nlm.nih.gov/pubmed/#{get_reference(pt.id)}" %>
	    	</td>
	        
	      </tr>
	    <% end %>
	    
	  </tbody>
	</table>
	<%= link_to "Export As CSV", protein_download_filtered_result_path(:accession_no => params[:accession_no],:header => params[:header], :group => params[:group], :organism => params[:organism]), :id => "export-button" %>
	<%= link_to "Export As Fasta", protein_download_filtered_result_fasta_path(:accession_no => params[:accession_no],:header => params[:header], :group => params[:group], :organism => params[:organism]), :id => "export-button" %>
	<hr>
	<%= paginate @protein %>
	<br>
</div>