


<div class="container sequence-index">
	<h1>Listing Sequence</h1>
	<hr>
	<table>
	  <thead>
	    <tr>
	      <th colspan="1"></th>
	      <!-- this is how btdb sort protein by BTDBP ID -->
	      <!-- <a rel="nofollow" class="sort-link" href="/proteins?c=btdbp_id&amp;d=down">BTDBP ID</a> -->
	      <%# table_sort_link 'Locus Tag', :header %>
	      <th>Locus Tag</th>
	      <th>RD Group</th>
	      <th>Organism</th>
	      <th>Last Update</th>
	      
	    </tr>

	    <tr>
	    <%= form_with url:'protein', method: :get do |f| %>
	      <th><%= f.submit "Filter", disabled: false, :id => 'filter-button' %></th>
	      <th><%= f.text_field 	:header %></th>
	      <th><%= f.text_field  :group %></th>
	      <th><%= f.text_field  :organism %></th>
	      <th>After <%= f.date_field  :update %></th>
	    <% end %>
	      
	    </tr>
	  </thead>
	 	
	  <tbody>
	    <% @protein.each do |pt| %>
	      <tr>
	      	<td><%= link_to "show", protein_path(pt.id), :id => 'show-button' %></td>
	        <td><%= pt.header %></td>
	        <%= form_with url:'protein', method: :get do |f| %>
	        	<!-- <td><%# link_to "#{pt.group}", protein_group_path(pt.group) %></td> -->
	        	<%= hidden_field_tag(:group, pt.group) %>
	        	<td><%= f.submit "#{pt.group}", disabled: false, :id => 'group-click-button' %></td>
	        <% end %>
	        <td><%= pt.organism %></td>
	        <td><%= pt.update_date %></td>
	        
	        
	      </tr>
	    <% end %>
	    
	  </tbody>
	</table>
	<%= link_to "Export As CSV", protein_download_filtered_result_path(:header => params[:header], :group => params[:group], :organism => params[:organism], :date => params[:update]), :id => "export-button" %>
	<%= link_to "Export As Fasta", protein_download_filtered_result_fasta_path(:header => params[:header], :group => params[:group], :organism => params[:organism], :date => params[:update]), :id => "export-button" %>
	<hr>
	<%= paginate @protein %>
	<br>
</div>