<% content_for(:title) { "Browse Sequences" } %>
<% content_for(:description) { "Browse our database of reductive dehalogenase sequences." } %>
<div class="sequence-index">
	<h2>Sequence Database</h2>
	<hr>
	<table id='table strain-table'>
	  <thead>
	    <tr>
	      <!-- this is how btdb sort protein by BTDBP ID -->
	      <!-- <a rel="nofollow" class="sort-link" href="/proteins?c=btdbp_id&amp;d=down">BTDBP ID</a> -->
	      <th><%= table_sort_link "Protein Accession", :accession_no %></th>
	      <th><%= table_sort_link "Alt. Name", :header %></th>
	      <th><%= table_sort_link "Gene Accession", :genbank_id %></th>
	      <th><%= table_sort_link "Group", :group %></th>
	      <th><%= table_sort_link "Organism", :organism %></th>
		  <th><%= table_sort_link "Characterized Function", :protein_name %></th>
		  <th>References</th>
		  <th>&nbsp;</th>
	    </tr>

	    <tr>
	    <%= form_with url:'protein', method: :get do |f| %>
	      <th><%= f.text_field 	:accession_no %></th>
	      <th><%= f.text_field 	:header %></th>
	      <th><%= f.text_field  :genbank_id %></th>
	      <th><%= f.text_field  :group %></th>
	      <th><%= f.text_field  :organism %></th>
		  <th><%= f.text_field  :protein_name %></th>
		  <th></th>
		  <th><%= f.submit "Filter", disabled: false, :class => 'btn btn-secondary' %></th>
	    <% end %>
	      
	    </tr>
	  </thead>
	 	
	  <tbody>
	    <% @protein.each do |pt| %>
	      <tr>
	      	<% if pt.accession_no.nil? %>
	      		<td>Not Available</td>
	      	<% else %>
	      		<td><a href="https://www.ncbi.nlm.nih.gov/protein/<%= pt.accession_no %>" target="_blank">
	      			<%= pt.accession_no %>
	      		</td>
	      	<% end %>
	        


	        <td><%= pt.header %></td>


	        <td>

	        	<% if get_genbank_id(pt.id).nil? %>
	        		None
	        	<% else %>
	        		<%= link_to get_genbank_id(pt.id), "https://www.ncbi.nlm.nih.gov/nuccore/#{get_genbank_id(pt.id)}" %>
	        	<% end %>


	        </td>

	        <!-- display group -->
	        <% if pt.group.nil? %>
	        	<td>No Group</td>
	        <% else %>
	        	<%= form_with url:'protein', method: :get do |f| %>
	        		<%= hidden_field_tag(:group, pt.group) %>
	        		<td><%= f.submit "#{pt.group}", disabled: false, :id => 'group-click-button' %></td>
	        	<% end %>
	        <% end %>

	        <!-- display organism -->
	        <% if pt.organism.nil? %>
	        	<td>No Organism</td>
	        <% else %>
	        	<td><%= itatic_species_genus(pt.organism) %></td>
	        <% end %>
	        

	        <% if pt.protein_name.nil? %>
	        	<td style="text-align: center;">None</td>
	        <% else %>
	        	<td style="color:red; text-align: center;"><strong><%= pt.protein_name %></strong></td>
	        <% end %>
	        	
	        	
	        <!-- display characteristics -->
	        <td style="text-align: right;">
	        	<% if get_reference(pt.id).nil? %>
		        	Unpublished
		        <% else %>
		        	
		        	<%= link_to get_reference(pt.id), "https://www.ncbi.nlm.nih.gov/pubmed/#{get_reference(pt.id)}" %>
		        <% end %>

		        <%# link_to get_reference(pt.id), "https://www.ncbi.nlm.nih.gov/pubmed/#{get_reference(pt.id)}" %>
			</td>
			
			<td><%= link_to "View", protein_path(pt.id), :class => 'btn btn-primary' %></td>
	      </tr>
	    <% end %>
	    
	  </tbody>
	</table>
	<div class="row mt-sm-3">	
		<div class="col-sm-12 col-md-6">
			<%= link_to "Export CSV", protein_download_filtered_result_path(:accession_no => params[:accession_no],:header => params[:header], :group => params[:group], :organism => params[:organism]), class: 'btn btn-primary' %>
			<%= link_to "Export FASTA", protein_download_filtered_result_fasta_path(:accession_no => params[:accession_no],:header => params[:header], :group => params[:group], :organism => params[:organism]), class: 'btn btn-primary' %>
		</div>
		<div class="col-sm-12 col-md-6">
			<%= paginate @protein %>
		</div>
	</div>
</div>