


<div class="container sequence-index">
	<h1>Sequence Database</h1>
	<hr>
	<table>
	  <thead>
	    <tr>
	      <th colspan="1"></th>
	      <!-- this is how btdb sort protein by BTDBP ID -->
	      <!-- <a rel="nofollow" class="sort-link" href="/proteins?c=btdbp_id&amp;d=down">BTDBP ID</a> -->
	      <%# table_sort_link 'Locus Tag', :header %>
	      <th><%= table_sort_link "Accession No.", :accession_no %></th>
	      <th><%= table_sort_link "Common Name", :header %></th>
	      <th><%= table_sort_link "Group", :group %></th>
	      <th><%= table_sort_link "Organism", :organism %></th>
	      <th>Characterized</th>
	      
	    </tr>

	    <tr>
	    <%= form_with url:'protein', method: :get do |f| %>
	      <th><%= f.submit "Filter", disabled: false, :id => 'filter-button' %></th>
	      <th><%= f.text_field 	:accession_no %></th>
	      <th><%= f.text_field 	:header %></th>
	      <th><%= f.text_field  :group %></th>
	      <th><%= f.text_field  :organism %></th>
	      <th></th>
	    <% end %>
	      
	    </tr>
	  </thead>
	 	
	  <tbody>
	    <% @protein.each do |pt| %>
	      <tr>
	      	<td><%= link_to "show", protein_path(pt.id), :id => 'show-button' %></td>

	      	<% if pt.accession_no.nil? %>
	      		<td>Not Available</td>
	      	<% else %>
	      		<td><a href="https://www.ncbi.nlm.nih.gov/protein/<%= pt.accession_no %>" target="_blank">
	      			<%= pt.accession_no %>
	      		</td>
	      	<% end %>
	        


	        <td><%= pt.header %></td>

	        <!-- display group -->
	        <% if pt.group.nil? %>
	        	<td>No Group</td>
	        <% else %>
	        	<%= form_with url:'protein', method: :get do |f| %>
	        		<%= hidden_field_tag(:group, pt.group) %>
	        		<td><%= f.submit "#{pt.group}", disabled: false, :id => 'group-click-button' %></td>
	        	<% end %>
	        <% end %>

	        <!-- display organism -->
	        <% if pt.organism.nil? %>
	        	<td>No Organism</td>
	        <% else %>
	        	<td><%= pt.organism %></td>
	        <% end %>
	        
	        <!-- display characteristics -->
	        <% if contain_compound(pt.id) == true %>
	        	<td>Yes</td>
	        <% else %>
	        	<td></td>
	        <% end %>
	        
	      </tr>
	    <% end %>
	    
	  </tbody>
	</table>
	<%= link_to "Export As CSV", protein_download_filtered_result_path(:accession_no => params[:accession_no],:header => params[:header], :group => params[:group], :organism => params[:organism]), :id => "export-button" %>
	<%= link_to "Export As Fasta", protein_download_filtered_result_fasta_path(:accession_no => params[:accession_no],:header => params[:header], :group => params[:group], :organism => params[:organism], :accession_no => params[:accession_no]), :id => "export-button" %>
	<hr>
	<%= paginate @protein %>
	<br>
</div>