<div class="container protein-info">

  <h2>Showing Protein Sequence: <%= @protein_s.header %></h2>


<hr>
<h4>Identification</h4>
<div id = "tablediv">
  <table>
    <tr>
      <th>Accession Number</th>
      <td><a href="https://www.ncbi.nlm.nih.gov/protein/<%= @protein_s.accession_no %>" target="_blank"> <%= @protein_s.accession_no %></td>
    </tr>
    <tr>
      <th>Common Name</th>
      <td><%= @protein_s.header %></td>
    </tr>
    <tr>
      <th>Protein Type</th>
      <td>Enzyme</td>
    </tr>
    <tr>
      <th>Orthologous Group</th>
      <td>
        <%= form_with url:'/protein', method: :get do |f| %>
          <%= hidden_field_tag(:group, @protein_s.group) %>
          <%= f.submit "#{@protein_s.group}", disabled: false, :id => 'group-click-button' %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>Organism</th>
      <th><%= @protein_s.organism || nil %></th>
    </tr>

    <tr>
      <th>Protein Name</th>
      <th><%= @protein_s.protein_name || nil %></th>
    </tr>

    <tr>
      <th>Last Updated </th>
      <td><%= @protein_s.updated_at || nil %></td>
    </tr>

    <tr>
      <th> Submitter </th>
      <% if @protein_s.uploader == "RDDB" %>
        <td>Reductive Dehalogenases Database</td>
      <% else %>
        <td><%= @protein_s.uploader_name %>. Email: <%= @protein_s.uploader_email %></td>
      <% end %>
    </tr>

    <tr>
      <th>Reference </th>
      <td><%= @protein_s.reference || nil %></td>
    </tr>
  </table>
</div>

<hr>
<div>
  <h4>Protein Properties</h4>
  <% if @protein_s.chain.present? %>
    <!-- Button for quick view of the sequence -->
    <button class="little-button" onclick="writeFASTA('<%= @protein_s.chain %>', 
                          '<%= @protein_s.header %>','<%= @protein_s.accession_no %>', '<%= @protein_s.organism %>')">FASTA</button>
    <button class="little-button" onclick="writeSequenceStats('<%= @protein_s.chain %>','aa')">Statistics</button>
    <!-- Button for quick view of the sequence -->
    <div id = "tablediv">
      <table>
        <tr>
          <th>Amino Acid Sequence</th>
          <td>
            <em class="sequence-wrap" ><%= style_chain(@protein_s.chain) %></em>
            <%= content_tag :div, class: "protein_s_chain", data: {proteinChain: @protein_s.chain} do %>
            <% end %>
          </td>
        </tr> 
        <tr>
          <th>Sequence Length</th>
          <td><%= @protein_s.chain.length %></td>
        </tr> 
        <tr>
          <th>Molecular Weight</th>
          <td><%= @mw %> kDa</td>
        </tr>
        <tr>
          <th>Predicted PI (EMBOSS)</th>
          <td id="ppi-emboss"></td>
        </tr>
      </table>
    </div>

  <% else %>
    <div id = "tablediv">
      <table>
        <tr>
          <th>Amino Acid Sequence</th>
          <td>
            <%= nah %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>

<hr>
<div>
  <h4>Gene Properties</h4>
  <% if !@gene_s.nil? and @gene_s.chain.present? %>
    <!-- Button for quick view of the sequence -->
    <button class="little-button" onclick="writeFASTA('<%= @gene_s.chain %>', 
                          '<%= @protein_s.header %>',undefined, '<%= @protein_s.organism %>')">FASTA</button>
    <button class="little-button" onclick="writeSequenceStats('<%= @gene_s.chain %>','nt')">Statistics</button>
    <!-- Button for quick view of the sequence -->
    <div id = "tablediv">
      <table>
        <tr>
          <th>Nucleotide Sequence</th>
          <td>
            <em class="sequence-wrap" ><%= style_chain(@gene_s.chain) %></em>
            <%= content_tag :div, class: "gene_s_chain", data: {geneChain: @gene_s.chain} do %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Molecular Weight</th>
          <td id="gene-pmw"></td>
        </tr>
      </table>
    </div>

  <% else %>

    <div id = "tablediv">
      <table>
        <tr>
          <th>Nucleotide Sequence</th>
          <td>
            <%= nah %>
          </td>
        </tr>
      </table>
    </div>
    
  <% end %>
</div>

<hr>
<h4>Interactive Compounds</h4>
<div id = "tablediv">
  <div class="well-panel">
    <% if @compound.length > 0 %>

      <% @compound.each do |comp| %>
        <%= render :partial => 'compound_card', :locals => { :compound => comp} %>
      <% end %>

    <% else %>
      <p> Not Available </p>
    <% end %>
  </div>
</div>


</div>
