<div class="container protein-info">

  <h2>Showing Protein Sequence: <%= @protein_s.header %></h2>


<hr>
<h4>Identification</h4>
<div id = "tablediv">
  <table>
    <tr>
      <th>Accession Number</th>
      <td><a href="https://www.ncbi.nlm.nih.gov/protein/<%= @protein_s.accession_no %>" target="_blank"> <%= @protein_s.accession_no %></td>
    </tr>
    <tr>
      <th>Common Name</th>
      <td><%= @protein_s.header %></td>
    </tr>
    <tr>
      <th>Protein Type</th>
      <td>Enzyme</td>
    </tr>
    <tr>
      <th>Orthologous Groups</th>
      <td>
        <%= form_with url:'/protein', method: :get do |f| %>
          <%= hidden_field_tag(:group, @protein_s.group) %>
          <%= f.submit "#{@protein_s.group}", disabled: false, :id => 'group-click-button' %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>Organism</th>
      <th><%= @protein_s.organism || nil %></th>
    </tr>

    <tr>
      <th>Protein Name</th>
      <th><%= @protein_s.protein_name || nil %></th>
    </tr>

    <tr>
      <th>Last Updated </th>
      <td><%= @protein_s.updated_at || nil %></td>
    </tr>
    <tr>
      <th>Reference </th>
      <td><%= @protein_s.reference || nil %></td>
    </tr>
  </table>
</div>

<hr>
<h4>Protein Properties</h4>
<div id = "tablediv">
  <table>
    <tr>
      <th>Amino Acid Sequence</th>
      <td>
        <% if @protein_s.chain.present? %>
          <em class="sequence-wrap" ><%= @protein_s.chain %></em>
        <% else %>
          <%= nah %>
        <% end %>
      </td>
    </tr> 
  </table>
</div>

<hr>
<h4>Gene Properties</h4>
<div id = "tablediv">
  <table>
    
    <tr>
      <th>Nucleotide Sequence</th>
      <td>
        <% if @gene_s.chain.present? %>
          <em class="sequence-wrap" ><%= @gene_s.chain %></em>
        <% else %>
          <%= nah %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<hr>
<h4>Interactive Compounds</h4>
<div id = "tablediv">
  <table>
    <% @compound.each do |comp| %>
      <td><%= link_to "#{comp.name}", compound_path(comp.id), :id => 'button-ish' %></td>
    <% end %>
  </table>
</div>


</div>
