<% content_for(:title) { "Contact Us" } %>
<div class="container">
  <h2>Contact Us</h2>
<hr>
<div class="container mb-sm-5">
  <p>
    The Reductive Dehalogenase Database data curation was prepared by the
    <a id = "contact-href" target = "_blank" href = "https://www.labs.chem-eng.utoronto.ca/edwards">Elizabeth Edwards Lab</a>.
    To submit reductive amino acid or nucleotide sequences to the lab or database, please contact us using the form below.
    We would also love to hear your feedback, suggestions, or reports on errors or inconsistencies in the data.
  </p>
  <% flash.each do |message_type, message| %>
    <%= content_tag(:p, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <%= form_with model: @contact, class: '', method: "POST" do |f| %>
    <fieldset>
      <div class="row form-group">
        <div class="col">
          <%= f.label :name %>
          <%= f.text_field :name, required: true, class: "form-control" %>
        </div>
        <div class="col">
          <%= f.label :email %>
          <%= f.text_field :email, required: true, type: :email, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col">
          <%= f.label :message %>
          <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "form-control" %>

          <div style="display:none;">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
          </div>
        </div>
      </div>
        <%= f.submit 'Send', class: 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>  
</div>
<div class="container">
  <p>
  Feedback and bugs regarding the website can also be submitted to our <a href="https://github.com/Elizabeth-Edwards-Lab/rdase_db">GitHub repository.
  </p>
</div>
</div>