<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  	
    <h1>Sequence from <%= @username %></h1><br>
    <p>Email Address: <%= @email %></p><br>
    <h3>Amino Acid Sequence</h3><br>
    <p><%= @aa_sequence %></p><br>
    <h3>Gene Sequence</h3><br>
    <p><%= @nt_sequence %></p><br>
    <h3> Other Comments </h3><br>
    <p><%= @comment %></p><br>

  </body>
</html>