  <footer class="page-footer font-small blue pt-4">
    <hr>
    <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <p>
              Reductive Dehalogenases Blast Database is a joint project from <a href="http://www.wishartlab.com/" target="_blank"> Wishart Lab Group</a> at University of Alberta and <a href="https://www.labs.chem-eng.utoronto.ca/edwards/" target="_blank">Elizabeth Edwards Lab</a> at
            University of Toronto. BLAST is a registered trademark of the <a href="https://www.nlm.nih.gov/" target="_blank"> National Library of Medicine </a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 mb-md-0 mb-3">
            <ul class="list-unstyled" style="display:flex;">
              <li>
                <%= link_to href: 'https://www.utoronto.ca/', target: "_blank" do %>
                <%= image_tag 'UofT-Logo.png', width: 160, height: 60, alt: 'UofT'%>
                <% end %>
              </li>
              <li>
                <%= link_to href: 'https://www.ualberta.ca/', target: "_blank" do %>
                  <%= image_tag 'uofa.png', width: 140, height: 60, alt: 'UofA'%>
                <% end %>
              </li>
              <!-- <li> -->
                <%#<%= link_to href: 'https://www.metabolomicscentre.ca/', target: "_blank" do %>
                <%#<%= image_tag 'tmic-logo.png', :class => "ray-medium", width: 180, height: 60, alt: 'TMIC'%>
                <%#<% end %>
              <!-- </li> -->
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->
  </footer>