<!DOCTYPE html>
<html>
  <head>
    <% unless yield(:title).empty? %>
    <title><%= yield(:title) %></title>
    <% else %>
    <title>Reductive Dehalogenase Database</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('RDDB_favicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render "layouts/header" %>
  <body>
    <!--
    <div class="alert alert-primary" role="alert"><%= notice %></div>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
    -->
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
